@charset "UTF-8";
/* line 8, ../sass/partials/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/partials/_base.scss */
html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

/* line 18, ../sass/partials/_base.scss */
body {
  width: auto;
  min-height: 100%;
}

/* line 23, ../sass/partials/_base.scss */
li {
  list-style: none;
}

/* line 4, ../sass/modules/_placeholder.scss */
input.placeholder, textarea.placeholder {
  font-style: italic;
}
/* line 5, ../sass/modules/_placeholder.scss */
input:-moz-placeholder, textarea:-moz-placeholder {
  font-style: italic;
}
/* line 6, ../sass/modules/_placeholder.scss */
input::-moz-placeholder, textarea::-moz-placeholder {
  font-style: italic;
}
/* line 7, ../sass/modules/_placeholder.scss */
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  font-style: italic;
}
/* line 8, ../sass/modules/_placeholder.scss */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  font-style: italic;
}

/* line 3, ../sass/partials/_contact-form.scss */
.submit-message {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}

/* Header */
/* line 5, ../sass/partials/_structure.scss */
header h1, header h1 a, h1 header a {
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
}

/* line 9, ../sass/partials/_structure.scss */
nav {
  width: 700px;
  margin: 0 auto;
  padding: 8px 13px 8px 13px;
  padding: 0.8rem 1.3rem 0.8rem 1.3rem;
  overflow: hidden;
  *zoom: 1;
}
/* line 14, ../sass/partials/_structure.scss */
nav ul {
  float: left;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0px 0px 0px 0px;
  margin: 0rem 0rem 0rem 0rem;
  padding: 0px 0px 0px 0px;
  padding: 0rem 0rem 0rem 0rem;
}
/* line 19, ../sass/partials/_structure.scss */
nav ul li {
  text-transform: uppercase;
  padding: 0px 34px 0px 0px;
  padding: 0rem 3.4rem 0rem 0rem;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 25, ../sass/partials/_structure.scss */
nav .search-form {
  float: right;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

/* Article */
/* line 33, ../sass/partials/_structure.scss */
article {
  width: 700px;
  margin: 0 auto 34px;
  padding: 0px 13px 0px 13px;
  padding: 0rem 1.3rem 0rem 1.3rem;
}

/* line 39, ../sass/partials/_structure.scss */
section {
  margin: 34px 0px 13px 0px;
  margin: 3.4rem 0rem 1.3rem 0rem;
}

/* About section*/
/* line 45, ../sass/partials/_structure.scss */
#about {
  overflow: hidden;
  *zoom: 1;
}
/* line 47, ../sass/partials/_structure.scss */
#about #about-text {
  width: 60%;
  float: left;
}
/* line 51, ../sass/partials/_structure.scss */
#about #about-image {
  width: 40%;
  float: left;
  text-align: right;
}

/* line 58, ../sass/partials/_structure.scss */
.portrait {
  border: solid 5px #d6dae8;
  margin: 10px 0px 0px 0px;
  margin: 1rem 0rem 0rem 0rem;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

/* Footer */
/* line 66, ../sass/partials/_structure.scss */
footer {
  width: 100%;
  bottom: 0;
}

/* line 71, ../sass/partials/_structure.scss */
#footer-container {
  width: 700px;
  margin: 0 auto;
  padding: 21px 13px 34px 13px;
  padding: 2.1rem 1.3rem 3.4rem 1.3rem;
}
/* line 75, ../sass/partials/_structure.scss */
#footer-container ul.footer-notes {
  text-align: right;
}
/* line 77, ../sass/partials/_structure.scss */
#footer-container ul.footer-notes li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0px 0px 0px 13px;
  margin: 0rem 0rem 0rem 1.3rem;
}
/* line 81, ../sass/partials/_structure.scss */
#footer-container ul.footer-notes li:last-child {
  text-transform: uppercase;
}

/* line 3, ../sass/partials/_typography.scss */
h1, h1 a, h2, h2 a {
  font-family: Calluna-Regular, Times New Roman, serif;
  font-weight: normal;
  font-style: normal;
}

/* line 9, ../sass/partials/_typography.scss */
a, form, p, span, td, ul, h3, h4, h5 {
  font-family: Lato, Helvetica Neun, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

/* line 15, ../sass/partials/_typography.scss */
a, form, p, span, td, ul, h3, h4, h5 {
  font-size: 1.3rem;
  line-height: 1.615;
  text-decoration: none;
  color: #4c4c4c;
}

/* line 23, ../sass/partials/_typography.scss */
h1, h1 a {
  font-size: 8.9rem;
  color: #5769a0;
  text-align: center;
}

/* line 33, ../sass/partials/_typography.scss */
h2, h2 a {
  font-size: 3.4rem;
  color: #c58c52;
}

/* line 42, ../sass/partials/_typography.scss */
.subtitle {
  font-size: 3.4rem;
}
