// Imports

@import "compass";
@import "modules/all";

// Base CSS

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  width: 700px;
  min-height: 100%;
  margin: 0 auto;
  @include padding(0,1.3);
}

li {
  list-style: none;
}

input, textarea {
  @include placeholder {
    font-style: italic;
  }
}
