// Imports

@import "compass";
@import "modules/all";

// Base CSS

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  width: auto;
}

section {
  position: relative;
}

h2 {
  margin-top: 0;
}

ul {
  list-style: none;
}

input, textarea, button {
  line-height: 1.615;
  border: solid 1px #ccc;
  -webkit-appearance: none;
  @include margin(0,0,2.1);
  @include padding(0.5,0.8);
  @include box-sizing(border-box);
  @include border-radius(1px);
  @include placeholder {
    font-style: italic;
  }
  @include transition(all 0.1s ease-in-out);
  &:focus {
    outline: none;
    border: solid 1px $color-blue-40;
  }
}

textarea {
  resize: none;  
}
