// Imports

@import "compass";
@import "modules/all";

// Base CSS

*, *:before, *:after {
  @include box-sizing(border-box);
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body {
  width: auto;
  min-height: 100%;
}

li {
  list-style: none;
}

input, textarea {
  @include placeholder {
    font-style: italic;
  }
}
