// Contact-form partial

input, textarea {
  width: 100%;
  @include margin(0,0,2.1);
}

.form-warning {
  border-color: $color-brown-40;
  @include transition(all 0.1s ease-out);
}

#ss-submit {
  display: block;
  width: 50%;
  margin: 0 auto;
  position: relative;
  border: solid 1px $color-blue-40;
  background: $color-blue-40;
  color: white;
  &:hover {
    background: $color-blue-60;
    border-color: $color-blue-60;
  }
}

@include keyframes(progbtn) {
  0% {width: 0%;}
  100% {width: 100%;}
}

#ss-submit.sent {
  &:after {
    content: "";
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    background: white;
    @include animation-name(progbtn);
    @include animation-duration(0.3s);
    @include animation-timing-function(ease-out);
  }
  &:hover {
    background: $color-blue-40;
    border-color: $color-blue-40;
  }
}
