// Contact-form partial

.form-wrapper {
  margin: 0;
  border: solid 1px #eee;
  background: rgba(0,0,0,0.02);
  @include padding(2.1);
}

.form-container {
  @include display-flex;
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include justify-content(space-between);
  @include align-items(center);
  @include align-content(space-between);
}

.form-bezil {
  border: solid 1px #eee;
  background-color: rgba(0,0,0,0.02);
  @include padding(0.8);
  &:nth-child {
    width: 48%;
  }
  &:last-child {
    width: 100%;
  }
}

input, textarea {
  width: 100%;
  margin: 0;
}

#ss-submit {
  display: block;
  width: 50%;
  margin: 0 auto;
  position: relative;
  border: solid 1px $color-blue-40;
  background: $color-blue-40;
  color: white;
  &:hover {
    background: $color-blue-60;
    border-color: $color-blue-60;
  }
}

#ss-submit-arrow {
  &:after {
    content: "";
    position: absolute;
    top: -1px;
    right: 13px;
    border: solid 13px transparent;
    border-left: solid 13px $color-blue-40;
    z-index: -1;
  }
}

#ss-submit-arrow.sent {
  &:after {
    content: "";
    position: absolute;
    top: -1px;
    right: -27px;
    border: solid 13px transparent;
    border-left: solid 13px $color-blue-40;
    z-index: 0;
  }
}

input[type=text].warning,
input[type=email].warning {
  &:after {
    content: '*Required';
    position: absolute;
  }
}
