// variables and imports

@import "compass";
@import "modules/all";

// color scheme > https://kuler.adobe.com/Atsushi-OHO-color-theme-2665497

$color-blue1: #5769a0;
$color-blue2: #7f8db9;
$color-blue3: #aeb6d2;
$color-blue4: #d6dae8;

$color-grey1: #4c4c4c;
$color-grey2: #8c8a80;
$color-grey3: #d2d0c7;
$color-grey4: #e8e7e2;

$color-brown1: #c58c52;
$color-brown2: #c29973;
$color-brown3: #e3c8ad;
$color-brown4: #f1e3d5;

html {
  height: 100%;
  font-size: 62.5%;
}

h1 {
  margin: 0;
  font-family: 'bamqbold', serif;
  font-size: 5.5rem;
  text-transform: uppercase;
}

h2, h3 {
  font-family: 'lora', serif;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
}

h2 {
  font-size: 3.4rem;
  color: $color-blue1;
}

h2:after {
  content: " >";
}

h3 {
  font-size: 2.1rem;
  color: $color-brown1;
}

p, ul, a {
  font-family: 'Lato', 'Josefin Sans', 'Helvetica Neun', 'Helvetica', monospace, sans-serif;
  font-weight: lighter;
  font-size: 2.1rem;
  line-height: 1.615;
  color: #4c4c4c;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 2.1rem;
  list-style: none;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

/* Wrappers */

.panel {
  width: 100%
}

.container {
  position: relative;
  overflow: hidden;
  width: 987px;
  margin: 0 auto;
  padding: 5.5rem;
}

/* Header */

header {
  position: relative;
  overflow: hidden;
}

#TitleWrapper .container {
  padding-top: 0;
}

h1 {
  display: inline-block;
  float: left;
  width: 50%;
  padding: 3.4rem 2.1rem 3.4rem 0;
  text-align: right;
  border-right: solid 1px #bfbdb0;
}

.FirstName {
  color: #8c8a80 /* Gray2 */
}

.FamilyName {
  color: #d2d0c7; /* Gray3 */
}

nav {
  display: inline-block;
  width: 50%;
  padding: 3.4rem 0 3.4rem 2.1rem;
}

#AboutMe {
  text-align: center;
}

#AboutMe h3 {
}

#AboutMe p {
  font-size: 1.3rem;
  text-align: justify;
}

#AboutMe img {
}

/* Article */

/* Contact */

#Contact {
  text-align: center;
}

#Contact.panel h2 {
  padding: 5.5rem;
}

.ContactButton {
  display: inline-block;
  padding: 0 1.3rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #7f8db9; /* Blue2 */

}

/* Footer */

footer {
}
