// Structure partial

/* Header */

header {
}

/* Navigation */

nav {
  @include clearfix;
  ul {
    float: left;
    @include inline-block;
    @include margin(0);
    @include padding(0);
    li {
      @include padding(0,3.4,0,0);
      @include inline-block;
    }
  }
  .search-form {
    float: right;
    @include inline-block;
  }
}

/* Footer */

footer {
  bottom: 0;
  @include padding(2.1,0,3.4);
  ul.footer-notes {
    text-align: right;
    li {
      @include inline-block;
      @include margin(0,0,0,1.3);
    }
    li:last-child {
      text-transform: uppercase;
    }
  }
}