// Typography partial

/* General settings */

%text-base {
  font-weight: 400; 
  font-style: normal;
  color: $color-grey-80;
  text-rendering: optimizeLegibility;
  line-height: 1.615;
  @include font-smoothing;  
}

%text-serif {
  @extend %text-base;
  font-family: calluna, "times new roman", serif; 
}

%text-sans-serif {
  @extend %text-base;
  font-family: lato, arial, sans-serif;
}

a, form, li, p, span, td, ul, h4, h5 {
  @extend %text-sans-serif;
  font-weight: 300;
  text-decoration: none;
  @include font-size(1.6);
}

h1 {
  @extend %text-serif;
  @include font-size(2.1);
  a {
    @extend h1;
    @include transition(all 0.1s ease-in-out);
    &:hover {
      color: $color-blue-60;
    }
  }
}

h2 {
  @extend %text-sans-serif;
  font-weight: 300;
  @include font-size(3.4);
  a {
    @extend h2;
    @include transition(all 0.1s ease-in-out);
    &:hover {
      color: $color-blue-60;
    }
  }
}

h3 {
  @extend %text-sans-serif;
  @include font-size(1.6);
  a {
    @extend h3;
    @include transition(all 0.1s ease-in-out);
    &:hover {
      color: $color-blue-60;
    }
  }
}

input, textarea, button {
  @extend %text-sans-serif;
  color: $color-grey-60;
  @include font-size(1.3);
}

/* Structure contents */

#header-title {
  .subtitle {
    @extend %text-serif;
    font-style: italic;
    color: $color-brown-80;
    @include font-size(1.6);
  }
  &:after {
    @extend %text-serif;
    @include font-size(1.3);
  }
}

nav {
  @extend %text-sans-serif;
  @include font-size(1.6);
  a {
    @extend nav;
    color: $color-grey-60;
    @include transition(all 0.1s ease-in-out);
    &:hover {
      color: $color-blue-60;
    }
  }
}

footer {
  p {
    @extend %text-serif;
    margin: 0;
    font-style: italic;
    color: $color-grey-60;
    &:last-child {
      @include font-size(1.3);
    }
  }
  a {
    @extend %text-serif;
    font-style: italic;
  }
}
