// Widgets partial

.no-padding {
  @include padding(0);
}

.link-button {
  color: $color-blue-80;
  border-bottom: dashed 1px $color-blue-80;
  padding-bottom: 3px;
  @include transition(all 0.1s ease-in-out);
  &:hover {
    color: $color-blue-60;
    border-color: $color-blue-60;
  }
}

.page-linker {
  font-style: italic;
  color: $color-blue-80;
  @include inline-block;
  @include transition(all 0.1s ease-in-out);
  &:hover {
    color: $color-blue-60;
  }
}
